.App--Form  {
  background-color: #B1C6BF;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  font-size: 2rem;
  color:#ffffff;

  padding:1rem;
  border-radius: 0 0 1rem 1rem;
}

.App--Form span {
  font-size: 1.3rem;

  margin: 0 1rem;
}

.App--Form__button {
  background-color: #D9D1C0;

  padding: 0.5rem 1.5rem;
  margin-left: auto;

  border: none;
  outline: none;
  border-radius: 2rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.App--Form__button:hover {
  background-color: #E6BE92;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.App--Form input  {
  font-size: 1rem;

  border: none;
  border-radius: 1rem;
  outline: none;
  padding: 0.5rem 1rem;

  width: 250px;
}