.container--body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0;
}

.container--body--Working, .container--body--Done {
  margin:auto;

  width: 1200px;
  box-sizing: border-box;
}

.container--body > div > span {
  display: block;

  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;

  padding-left: 1rem;
  margin: 2rem 0 1rem 0;
}

.container--body--Working__list, .container--body--Done__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap:1rem;

  margin:auto;

  box-sizing: border-box;
}

.Working__list__block, .Done__list__block {
  border: 3px solid #D9896C;
  border-radius: 8px;
}

.Done__list__block {
  border: 3px solid #658A9E;
}

.Working__list__block > h2, .Done__list__block > h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  color: #D9896C;

  margin: 0;
  padding: 20px 0 0 20px;
}

.Done__list__block > h2 {
  color: #658A9E;
}

.Working__list__block > p, .Done__list__block > p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  color: #000000;

  margin: 1rem 0 2rem 0;
  padding: 0 0 0 20px;
}

.Working__list__block > div, .Done__list__block > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 1rem 0;
}

.button__delete, .button__check {
  background-color: #D9896C;

  color:#ffffff;

  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem; 

  box-shadow: 3px 3px 10px rgba(0,0,0, 10%);
  cursor:pointer;
  transition: 0.2s ease;
}

.button__check {
  background-color: #B1C6BF;
}

.button__delete:hover, .button__check:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}
