
.App {
  margin: 0 auto;

  width: 1200px;
  min-height: 800px;
  box-sizing: border-box;
}

.LoadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: 16rem auto;
}