/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;700&display=swap'); */

* {
  /* font-family: "Hahmlet", sans-serif; */
  font-size: 20px;
}

.App {
  display: flex;
  flex-direction: column;

  text-align: center;
  margin: 0 auto;

  width: 1200px;
  min-height: 800px;
  box-sizing: border-box;
}

.App--Header, .App--Form  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 2rem;
  color:#ffffff;

  padding: 0.5rem 0;
}