
.App {
  margin: 0 auto;

  width: 1200px;
  min-height: 800px;
  box-sizing: border-box;
}

.App--Header, .App--Form  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 2rem;
  color:#ffffff;

  padding: 0.5rem 0;
}

.LoadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: 16rem auto;
}